<div class="container mt-5">
    <h1>Editar linguagem </h1>
    <%= render 'form', language: @language %>
    <br>
    <%= link_to 'Ver', @language %> |
    <%= link_to 'Voltar', languages_path %>
</div>
