<div class="container mt-5">

  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong> <%= notice %> </strong>  
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <h1>
    Linguagens
    <div class="float-right" >

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCadastro">
        Nova linguagem
      </button>

    </div>
    
  </h1>
  <br>

  <table class="table table-condensed table-border table-hover" id="languages">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Carreira</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @languages %>
    </tbody>
  </table>

</div>

<!-- Modal -->
<div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="modalCadastroLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCadastroLabel">Cadastrar nova linguagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= render partial: "form", locals: { language: @language } %>
      </div>
    </div>
  </div>
</div>