<div class="container mt-5">

    <h4 class="titulo">Ramos de atuação</h4>

    <center>
        <small>Confira abaixo alguns dos ramos de trabalho mais comuns na area de programação.</small>        
    </center>
    
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="main-timeline2">

                <div class="timeline">
                    <span class="icon fa fa-globe"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Desenvolvedor Front-end</h3>
                        <p class="description">
                            Esse profissional além de conhecer ferramentas de formatação e estilo também precisa conhecer programas de edição de imagens e ilustrações.
                        </p>
                    </a>
                </div>

                <div class="timeline">
                    <span class="icon fa fa-rocket"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Desenvolvedor Back-End</h3>
                        <p class="description">
                            É o profissional que programa indepenpende da linguagem, geralmente domina tanto linguagens de Front-End como de Back-end.
                        </p>
                    </a>
                </div>

                <div class="timeline">
                    <span class="icon fa fa-database"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Analista de dados</h3>
                        <p class="description">
                            É o programador que trabalha com dados, seja através de linguagens de banco como também com analise de dados.
                        </p>
                    </a>
                </div>

                <div class="timeline">
                    <span class="icon fa fa-mobile"></span>
                    <a href="#" class="timeline-content">
                        <h3 class="title">Desenvolvedor Mobile</h3>
                        <p class="description">
                            É o profissional que desenvolve aplicativos para celular, podendo se desenvolvimento nativo e também através de ferramentas que geram aplicativos multiplataformas.
                        </p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
